<ul class="metric-list">
  {{#each metricList}}
    <ul>
      <li>
        <a href="/{{this.metric}}/{{../teamId}}">
          {{this.metricSentenceCase}}
        </a>
      </li>
    </ul>
  {{/each}}
</ul>
